/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@500&display=swap');

/* Variables */
:root {
    /* Colores */
    --titulo1: ;
    --color1: hsl(29, 58%, 56%);
    --color2: rgb(208, 178, 149);
    --color3: white;

    /* Fonts */
    --font-titulo: 'Raleway', sans-serif;
    --font-body: 'Golos Text', sans-serif;
    --body-size1: ;

}


/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
}

h1, h2, h3{
    font-family: var(--font-titulo);
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

p, a{
    font-family: var(--font-body);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */

header{
    width: 100vw;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
}

.nav_logo{
    width: 20%;
    padding-left: 4%;
}

.nav_logo img{
    width: 50px;
}

.nav_menu{
    display: flex;
    width: 80%;
    justify-content: end;
    padding-right: 50px;
}

.nav_menu li{
    padding-right: 10px;
}

.nav_menu li a{
    color: black;
    display: block;
    padding: 10px 8px 10px 8px;
    border-radius: 15px;
    transition: all 0.4s;
}

.nav_menu li a:hover {
    background-color: var(--color1);
}

.btn_menu {
    justify-content: end;
    margin-right: 5%;
    color: black;
    display: none;
}

ul.show {
    top: 65px;
}

/* Seccion 1 Inicio */

.hero{
    background-image: linear-gradient(120deg, rgba(192, 169, 93, 0.678) 0%, rgba(253, 159, 133, 0.671) 100%), url(../assets/inicio-banner.jpg); background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.texto-hero{
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.texto-hero h1{
    font-size: 3em;
    font-weight: bold;
}

.texto-hero h2{
    font-size: 1.6em;
    margin-bottom: 40px;
}

.texto-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 5px;
    border: 1px solid orange;
    color: white;
    font-weight: bold;
    background-color: orange;
    transition: .3s ease;
}

.texto-hero a:hover{
    background-color: var(--color1);
    border: 1px solid var(--color1);
}

.svg-hero-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Seccion 2 Tours Principales */

#tours1{
    background: var(--body-size1);
    background: linear-gradient(0deg, rgba(238,138,76,0.908000700280112) 0%, rgba(210,158,24,1) 35%, var(--color1) 100%);
    height: auto;
    background-color: var(--color1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 200px;
    position: relative;
}

.tour{
    height: auto;
    width: 100%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.contenedor-textos-tour{
    height: auto;
    width: 50%;
}
.tour h2{
 font-size: 2.2em;
 font-weight: bold;
 padding-top: 20px;
}

.tour h3{
    font-size: 1.4em;
    padding-top: 20px;
    font-weight: 200;
    text-align: justify;
}

.tour p{
    font-size: 1.2em ;
    position: relative;
    text-align: justify;
    border-left: 2px solid lemonchiffon;
    padding-left: 15px; 
}

.tour br{
    display: block; 
    content: "";
    margin-top: 10px; 
}

.derecha{
    text-align: right;
    text-align-last: right;
    width: 100%;
    padding-right: 5%;
    padding-left: 0;
}

.derecha p{
    border-right: 2px solid lemonchiffon;
    padding-right: 15px; 
    border-left: 0;
    padding-left: 0;
}

.tour img{
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.derecha img{
    border-radius: 0px 10px 10px 0;
}

.tours1 a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 8px;
    /* color: var(--color1);
    background-color: white; */
    border: 2px white solid;
    color: white;

    transition: .3s ease;
}

.tours1 a:hover{
    color: var(--color1);
    background-color: white;
}

/* Seccion 3 Informacion de Contacto*/

#info{
    height: auto;
    width: 100%;
    color: var(--color1);
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 70px;
    color: black;
    padding-inline: 3%;
}

.contenedor-textos-info{
    align-items: center;
    justify-content: center;
    width: 35%;
    height: auto;
    padding-top: 70px;
}

.contenedor-textos-info h1{
    font-size: 3em;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}   

.contenedor-textos-info h1::before{
    content: "Nosotras";
    color: var(--color1);
    font-size: .4em;
    display: block;
}

.contenedor-textos-info p{
    font-size: 1.3em;
    padding-top: 20px;
    text-align: justify;
}

.contedor-cards{
    width: 60%;
    display: flex;
    justify-content: right;
    gap: 10%;
    align-items: center;
}
.cards{  
    height: auto;
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
    transition: all .9s ease;
}

.cards img{
    height: 370px;
    width: 100%;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}
.contenedor-textos-cards{
    color: black;
    padding: 10px;
    text-align: top;
}
.contenedor-textos-cards h2{
    font-size: 1.2em;
    font-weight: 100;
}

.cards:hover{
    transform: translateY(-3%);
}


.svg-hero-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Seccion 4 Opiniones */

.opiniones{
    padding-block: 20px;
    height: auto;
    width: 100%;
    background-color: white;
}

.opiniones h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
    width: auto;
    display: none;
}

.opiniones-contenedor{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-block: 20px;
}

.opniones-box{
    width: 100%;
    margin-inline: 20px;
    padding-block: 40px;
    border-image: linear-gradient(var(--color1), #c4a80c) 30;
    border-width: 4px;
    border-radius: 10px;
    border-style: solid; 
    text-align: center;
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.4);
    transition: .3s ease;
}

.opniones-box:hover{
    transform: translateY(-3%);
}

.grande{
    padding-block: 60px;
}

.opniones-box h3{
    color: var(--color1);
}


/* Seccion 5 Contacto */

.contacto{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: beige;
    /* display: flex;
    justify-content: center; */
}

.contacto-box{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    gap: 20px
}

form{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
}
.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 1em;
    font-family: var(--font-body);
    margin-bottom: 5px;
    color: black;
  }
  
  .field input {
    display: block;
    width: 500px;
    line-height: 1.5;
    font-size: 14px;
    border: none;
    height: 30px;
    text-align: top;
    align-items: start;
    padding-left: 5px;
  }

  .field textarea{
    max-width: 500px;
    min-width: 500px;
    padding-left: 5px;
  }

#telefono, #email{
    width: 235px;
}

  
#button {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    transition: all .3s ease;
}

#button:hover{
    background-color: var(--color1);
    border: 1px solid var(--color1);
}



.contacto-texto{
    width: 40%;
    text-align: right;
    margin-left: 30px;
}

.contacto h2{
    font-size: 3em;
}

.contacto h2::before{
    content: "Contactanos";
    color: var(--color1);
    font-size: .4em;
    display: block;
}

.contacto-texto h3{
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 100;
    text-align: justify;
    direction: rtl;
}

.contacto-texto li{
    text-align: right;

    color: var(--color1);
}

.contacto-box a{
    /* color: var(--color1); */
    color: black;
    font-size: 1.2em; 
  }

/* Seccion 5 Footer */

footer{
    height: auto;
    background-color: black;
    color: grey;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer a{
    color: grey;
}

.contenedor-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 10%;
    margin-left: 5px;
}

.contenedor-footer div{
    padding: 10px;
}

.contenedor-footer p{
 padding-bottom: 5px;
 font-size: 1.1em;
}

.contenedor-footer a{
border-left: 1px solid;
padding-left: 9px;
}

.link2{
    text-align: center;
    margin-top: 10px;
}
.link2 a{
    text-decoration: underline;
}

/* Subpagina */
/* Seccion 1 SubInicio */

.subinicio{
    height: auto;
    width: 100%;
    background-color: beige;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* background-image: linear-gradient(120deg, rgba(246, 212, 101, 0.678) 0%, rgba(253, 159, 133, 0.671) 100%), url(../assets/inicio-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.subinicio-contenedor{
    padding-block: 200px;
    width: 90%;
    z-index: 3;
}

.subinicio-textos{
    width: 50%;
}

.subinicio-textos h1{
    font-size: 4em;
}

.subinicio-textos p{
    padding-top: 20px;
    font-size: 1.2em;
}

.subinicio-botones{
    padding-top: 40px;
}

.subinicio-botones a{
    background-color: transparent;
    border: 1px solid var(--color1);
    color: var(--color1);
    border-radius: 7px;
    padding: 10px;
    transition: all .3s;
}

.subinicio-botones a:hover{
    color: var(--color1);
    background-color: white;
    border: 1px solid transparent;
}

#a1{
    background-color: var(--color1);
    color: white;
}

#a1:hover{
    background-color: rgb(196, 112, 34);
}

.subinicio img{
    position: absolute;
    right: 0;
    width: 70%;
    z-index: 2;
    transform: translateX(50%);
}
/* Seccion 2 */

.sub-background{
    background: rgb(238,138,76);
    background: linear-gradient(0deg, rgba(238,138,76,0.908000700280112) 0%, rgba(210,158,24,1) 35%, rgba(245,245,220,1) 100%);
}
.circuitos{
    height: auto;
    background-color: transparent;
}

.circuitos-textos{
    padding: 30px;
    width: 90%;
}

.circuitos h2{
    margin-bottom: 40px;
    font-size: 2em;
}

.circuitos dt{
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.circuitos dd{
    border-left: 1px solid black;
    padding-left: 10px;
}

.circuitos li{
    list-style: disc;
    padding-left: 10px;
    list-style-position: inside;
}


/* Celular */

    /* Navbar */
    @media screen and (max-width: 952px) {
        .nav_logo{
            font-size: 90%;
        }
        .nav_menu li a{
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 858px) {
        .navbar{
            height: 65px;
        }
        .btn_menu{
            display: inline-flex;
        }
    
        .nav_menu{
            position: fixed;
            width: 100vw;
            height: 70vh;
            background: hsla(0, 0%, 100%, 0.801);
            top: -100vh;
            text-align: center;
            justify-content: flex-start;
            align-items: center;
            transition: all .4s;
            flex-direction: column;
        }
    
        .nav_menu li{
        margin: 30px 0 0 0;
        line-height: 30px;
        }
        
        .nav_menu li a:hover {
           background-color: transparent;
        }
    }

    /* Seccion 1 Inicio*/
    @media screen and (max-width:800px) {

     .texto-hero h1{
        font-size: 30px;
        }

     .texto-hero h2{
        font-size: 20px;
      }

      .hero{
        height: auto;
        width: auto;
        max-width: 900px;
        
      }
    }

    /* Seccion 2 Tours */

    @media screen and (max-width: 858px){
        #tours1{
        justify-content: flex-start;
        text-align: center;
     }
         .tour {
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: flex-end;
        padding-right: 0;
        padding-left: 0;
        text-align-last: left;
     }

        .contenedor-textos-tour{
          height: auto;
         width: 90%;
         padding-bottom: 20px;
    }

    .tour h2{
        font-size: 25px;
        font-weight: bold;
    }

    .tour h3, .tour p {
        font-size: 0.8em;
        text-align: justify;
    }

    .tour p::before{
        display: none;
    }

    .derecha{
        flex-direction: column-reverse;
    }


    .tour img{
        height: auto;
        width: 100vw;
        border-radius: 0;
        padding: none;
    }

    }

    /* Seccion 3 Informacion de Contacto*/

    @media screen and (max-width: 858px){
       #info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: auto;
       }

       .contenedor-textos-info{
        padding-top: 0;
        width: 90%;
        text-align: center;
        font-size: .6em;
       }
       
       .contedor-cards{
        flex-direction: column;
        height: auto;
        width: 90%;
        gap: 20px;
       }

       .cards{
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        font-size: 12px;
       }

       .cards img{
        height: 100%;
       }

       .cards:hover{
        transform: none;
    }
    }

    /* Seccion 4 Opiniones */
    @media screen and (max-width: 858px){
        .opiniones-contenedor{
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            justify-content: space-between;
        }
        .opiniones-box{
            height: auto;
            width: 100%;
            margin: 0;
        }

        .grande{
            padding-block: 40px;
        }
    }

    /* Seccion 5 Contacto */

    @media screen and (max-width: 858px){
        .contacto{
            padding: 0;
        }

        .contacto-box{
            flex-direction: column-reverse;
            align-items: center;
            width: 95%;
            padding-bottom: 20px;
        }
        
        form{
            width: 90%;
        }

        .field input{
            width: 90vw;
        }

        #telefono, #email{
            width: 90vw;
        }

        .field textarea{
            max-width: 90vw;
            min-width: 90vw;
            padding-left: 5px;
        }

        .contacto-texto{
            width: 90%; 
            height: auto;
            text-align: left;
            /* margin-left: 0; */
        }

        

        .contacto h2{
            font-size: 1.3em;
        }

        .contacto-texto h3{
            font-size: .8em;
            direction: ltr;
            margin-bottom: 5px;
        }

        .contacto-texto li{
            /* color: var(--color1); */
            margin-left: 0;
            text-align: left;
            color: black;
          }

        .contacto-box a{
            /* color: var(--color1); */
            color: black;
            font-size: .8em; 
    }}

    /* Seccion 6 Footer */

    @media screen and (max-width: 858px){
        footer{
        height: auto;
        width: 100%;
        justify-content: start;
        gap: 10px;
        padding-block: 12px;
        padding-bottom: 20px;
        text-align: left;
        font-size: .6em;
        }

        .contenedor-footer{
         display: block;
         width: 90%;
         gap: 15px;
        }

        .contenedor-footer div{
        padding: 0;
        border-left: none;
        padding-top: 5px;
        }

        .link2{
            padding-left: 5%;
        }
    }

/* Subpagina */

/* Seccion 1 Inicio */

@media screen and (max-width: 858px){
    .subinicio-contenedor{
        padding-block: 100px;
        width: 90%;
    }
    
    .subinicio-textos{
        width: 100%;
    }
}