/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@500&display=swap');

/* Variables */
:root {
    /* Colores */
    --color1: ;
    --color2: ;
    --color3: ;
    --titulo1: ;
    --background1: hsl(29, 58%, 56%);
    --background2: hsl(29, 58%, 56%);

    /* Fonts */
    --font-titulo: 'Raleway', sans-serif;
    --font-body: 'Golos Text', sans-serif;
    --body-size1: ;

}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3{
    font-family: var(--font-titulo);
    color: var(--titulo1);
    font-weight: bold;
}

body{
    font-family: var(--font-body);
    font-size: var(--body-size1);
    background-color: var(--background1);
    color: var(--titulo1);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}


/* Reusable */



/* Navbar */

header{
    width: 100vw;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
}

.nav_logo{
    width: 20%;
    text-align: center;
    justify-content: center;
}

.nav_menu{
    display: flex;
    width: 80%;
    justify-content: end;
}

.nav_menu li{
    padding-right: 50px;
}

.nav_menu li a{
    color: black;
    display: block;
}

.nav_menu li a:hover {
    color: var(--background2);
    transition: 0.4s;
}

.btn_menu {
    justify-content: end;
    margin-right: 5%;
    color: black;
    display: none;
}

ul.show {
    top: 65px;
}

/* Seccion 1 Inicio */

.hero{
    background-image: linear-gradient(120deg, rgba(246, 212, 101, 0.678) 0%, rgba(253, 159, 133, 0.671) 100%), url(../assets/inicio-banner.jpg); background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.texto-hero{
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-hero h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.texto-hero h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.texto-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: var(--background2);
    border-radius: 8px;
    color: white;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Seccion 2 Tours Principales */

.tours1{
    height: 500px;
}



/* Celular */

    /* Navbar */
    @media screen and (max-width: 952px) {
        .nav_logo{
            font-size: 90%;
        }
        .nav_menu li a{
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 858px) {
        .navbar{
            height: 65px;
        }
        .btn_menu{
            display: inline-flex;
        }
    
        .nav_menu{
            position: fixed;
            width: 100vw;
            height: 70vh;
            background: hsla(0, 0%, 100%, 0.801);
            top: -100vh;
            text-align: center;
            justify-content: flex-start;
            align-items: center;
            transition: all .4s;
            flex-direction: column;
        }
    
        .nav_menu li{
        margin: 30px 0 0 0;
        line-height: 30px;
        }
        
        .nav_menu li a:hover {
            color: black;
        }
    }

    /* Seccion 1 Inicio*/
    @media screen and (max-width:800px) {
    .texto-hero h1{
    font-size: 50px;
    }
    }